html {
  font-size: 62.5%;
}

body {
  font-family: helvetica;
  font-size: 2rem;
  background-color: lavender;
  color: purple;
}

button {
  color:
}

.center {
  text-align: center;
}

.mrgn {
  margin-left: 3%;
  margin-bottom: 1%;
}

.hide {
  display: none;
}

#options {
  height: 2rem;
}

hr {
  border-color: purple;
}
